* {
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #cacaca; /* or add it to the track */
    }
    &::-webkit-scrollbar-thumb {
        background: #575757;
    }
}
// 全域設定
.photo-sticker {
    background-color: chartreuse;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.chat-content {
    background-color: white;
    display: inline-block;
    border-radius: 5px;
}

// 個別設定
.chat-banner {
    background-color: rgb(238, 228, 215);
    width: 650px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.chat-area {
    background-color: cadetblue;
    height: 450px;
    overflow-y: scroll;
    .other {
        height: 100px;
    }
    .me {
        text-align: end;
    }
}
.chat-bottom {
    position: absolute;
    bottom: 0;
    .chat-iuput {
        width: 550px;
        padding: 4px;
        border-radius: 5px;
        background-color: rgb(238, 238, 238);
    }
    .chat-btn {
        width: 100px;
    }
}
.reg-area {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    .reg-title {
        font-size: 28px;
        font-weight: 900;
    }
    .reg-input {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
    }
}